.header {
  background-color: rgba(32, 36, 39, 0.881);
}
.footer {
  text-align: center;
  background-color: rgba(32, 36, 39, 0.575);
  color: aliceblue;
}
.mainCardContainer{
  background-color: rgba(32, 36, 39, 0.575);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cardSet{
  width: 600px;
  margin: 20px;
}
.ant-tabs-nav-wrap{
  background-color: rgba(32, 36, 39, 0.575);
}
.ant-space{
  background-color: rgba(32, 36, 39, 0.575);
}
.ant-tabs-tab-btn{
  font-size: 20px;
}
.progressContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.progressBar{
  display: flex;
  justify-content: center;
  justify-content:space-around;
  padding-left: 200px;
  padding-right: 200px;
}