/* @import "antd/dist/antd.css"; */
.App {
  text-align: center;
  background-color: #000000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(120, 48, 48);
}
 
.footer{
justify-content: center;
}

.cards{
  width: 650;
  height:250px;
  background-color: #000000;
}

.form{
display: flex;
flex-direction: column;
/* align-items; */
justify-content: center;
}


